body{
    margin: 0;
}

*{
    text-decoration: none;
    color: inherit;
}

/*NavBar*/
header{
    background-color: #19314B;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3{
    color: #A88D3A;
    text-transform: uppercase;
}

.leftNav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoNav{
    width: 100px;
}

.rightNav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.rightNav section{
    width: 25%;
    display: flex;
    justify-content: space-around;    
}

header h3:hover{
    color: white;
}

/*Body*/
main{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    margin-top: 250px;
}

main h1{
    font-family: "Playfair Display";
    font-size: 30px;
}

.leftTop{
    width: 60%;
    height: 1000px;
}

.rightTop{
    width: 30%;
    height: 500px;
    background-color: #d9d9d94a;
    font-family: "Playfair Display";
    padding: 10px 30px;
}

.line{
    background-color: black;
    height: 3px;
    width: 90%;
}

.title{
    position: relative;
    bottom: 100px;
}

.article{
    flex-direction: column;
}

.articleBox{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
}

.articleBox img{
    width: 300px;
    height: 300px;
    border: 0.5px solid rgb(220, 220, 220);
}

.textBoxTop{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.textBox h2{
    font-family: "Inter";
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.titleBox{
    text-transform: uppercase;
}

select{
    height: 30px;
    width: 40px;
}

.select{
    width: 100px;
    height: 11%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.textBox{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.textBoxBottom{
    width: 27%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 70px;
    height: 25px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.box p{
    font-size: 12px;
}

.commandeText{
    font-style: italic;
    text-decoration: underline;
}

.lineRight{
    background-color: black;
    height: 3px;
    width: 350px;
}

.sousTotal{
    display: flex;
    justify-content: space-between;
}

.livraison{
    display: flex;
    justify-content: space-between;
}

.codePromo input{
    height: 40px;
    font-size: 17px;
}

.rightTop p{
    font-size: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
}

/*LivraisonBox*/
.panierBottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.livraisonBox{
    width: 90%;
    height: auto;
    background-color: rgba(226, 226, 226, 0.099);
    border: solid 1px rgb(227, 227, 227);
    padding: 0px 40px;
}

.livraisonBox h1{
    font-family: "Playfair Display";
    font-size: 30px;
}

.lineTitle{
    width: 60%;
    background-color: black;
    height: 3px;
}

.firstLineLivraison{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.firstLineLivraison p{
    width: 150px;
}

.secondLineLivraison{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.secondLineLivraison input,select{
    width: 150px;
    height: 30px;
}

.thirdLineLivraison{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.thirdLineLivraison p{
    width: 150px;
}

.fourthLineLivraison{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.fourthLineLivraison input{
    width: 150px;
    height: 30px;
}

.lineMode{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.imagePaiement{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.imagePaiement img{
    width: 250px;
    height: 200px;
}

.inputPaiement{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.paiement{
    display: flex;
    justify-content: center;
}

.paiement div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19314B;
    color: #A88D3A;
    width: 250px;
    height: 50px;
    border: solid 1px black;
    box-shadow: 5px 5px 10px black;
    transition: transform .2s;
}

.paiement div:hover{
    transform: scale(1.1);
}

/*Footer*/
footer{
    background-color: #19314B;
    width: 100%;
    height: 350px;
}

footer i{
    margin: 0px 10px;
}

.logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    height: 100px;
}

.footerLink{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.footerLink h1{
    color: white;
    font-family: "Trade Winds";
}

.footerLink h4{
    color: white;
    text-align: center;
    font-family: "Inter";
}

.footerLink h4:hover{
    text-decoration: underline;
}

.flags{
    display: flex;
    justify-content: center;
}

.flags img{
    height: 20px;
    width: 30px;
    margin: 0px 10px;
}

/*MEDIAQUERIES*/

/*TABLET*/
@media screen and (max-width: 1024px) {

    .textBoxTop select{
        margin-left: 10px;
    }

    .box{
        margin-left: 10px;
    }
    
}

/*PHONE*/
@media screen and (max-width: 450px) {

    body{
        width: 1000px;
    }

    header{
        height: 200px;
    }

    header h3{
        visibility: hidden;
    }

    .logoNav{
        width: 200px;
        position: relative;
        left: 370px;
    }

    .lineRight{
        width: 300px;
    }
    
}